body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  margin: auto;
  font-family: "Arial Black", sans-serif;
  text-align: center;
  color: #f15501;
}

nav {
  background-color: #004c73;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: bold;
}

nav a:hover {
  background-color: #006699;
}

th {
  background-color: #ff5a00;
  color: white;
  padding: 12px;
  border: 2px solid #004c73;
}

td {
  background-color: #f5f5f5;
  color: black;
  padding: 12px;
  border: 2px solid #004c73;
}

img {
  display: block;
  margin: 0 auto;
}

li {
  list-style-position: inside;
}

h1,
h2 {
  text-align: center;
  color: #004c73;
}

h1 {
  font-size: 30px;
}

table {
  padding-left: 640px;
}

footer {
  background-color: #004c73;
  padding: 60px;
  margin-top: 30px;
  font-size: 12px;
}

footer p {
  color: white;
}

a.active-site {
  color: #f37b3a;
}
